<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="spot_v1_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <plugin>mock_components/GenericSystem</plugin>
            </hardware>
            <joint name="Revolute 45">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Revolute 45']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Revolute 30">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Revolute 30']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Revolute 29">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Revolute 29']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Revolute 47">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Revolute 47']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Revolute 35">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Revolute 35']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Revolute 37">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Revolute 37']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Revolute 43">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Revolute 43']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Revolute 32">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Revolute 32']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Revolute 33">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Revolute 33']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Revolute 46">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Revolute 46']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Revolute 36">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Revolute 36']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Revolute 38">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Revolute 38']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
